<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width = 750">
    <link rel="stylesheet" type="text/css" href="/eschaton/css/stylesheet.css" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/eschaton/css/syntax.css" charset="utf-8">    
    <title>{{ page.title }}</title>
  </head>
  <body id="intro">
    <div id="header">
      <h1><a href="/eschaton">'the es.cha.ton' » A mapping language adventure</a></h1>
      » <a href="http://github.com/yawningman/eschaton">Go to the github</a> | <a href="http://eschaton.lighthouseapp.com/projects/12849-eschaton/tickets">Go to the lighthouse</a>      
      <br/>
      <br/>      
      <hr/>
      <hr/>
      <hr/>            
    </div>
    <div id="content">
      {{ content }}
    </div>
    <a href="http://github.com/yawningman/eschaton"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  </body>
</html>
